<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet">
</head>
<body>


<h1>Please Log in</h1>
<form th:action="@{/auth/user}" method="post">
    <div class="alert alert-danger text-center" th:if="${param.error}">
        Invalid username or password.
    </div>
    <div class="alert alert-success text-center" th:if="${param.logout}">
        You've have been logged out successfully.
    </div>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
</form>



</body>
</html>